<header class="w-full bg-header h-16 flex items-center justify-between">
    <a [routerLink]="['/']" routerLinkActive="router-link-active" >
    <div class="flex items-center ml-6">
        <svg width="30" height="30" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="11.635" height="66.2284" transform="matrix(0.855977 0.517015 -0.483176 0.875523 43 0)" fill="#1a1a1a"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.2631 18.6707L20.9593 0L11 6.01547L24.6236 30.7017L31.2631 18.6707ZM32.7065 45.348L43 64L52.9593 57.9845L39.346 33.3171L32.7065 45.348Z" fill="#1a1a1a"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9793 31.8692L20.681 25.8927H0V37.9236H20.638L23.9793 31.8692ZM40.1451 31.8692L43.4863 37.9236H64V25.8927H43.4434L40.1451 31.8692Z" fill="#1a1a1a"/>
            </svg>
        <span class="font-sans ml-4 text-xl font-medium text-[#1a1a1a]">Mara Jovanović</span>
    </div></a>
    <div class="flex items-center gap-4 mr-6">
        
        
        <a routerLink="/contact">
        <svg  width="30" height="25" viewBox="0 0 82 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="50.382" height="5.77338" rx="2.88669" transform="matrix(0.825285 0.564716 -0.43794 0.899004 2.52832 3.66043)" fill="#1a1a1a"/>
            <rect width="50.6871" height="6" rx="3" transform="matrix(0.825285 -0.564716 0.43794 0.899004 37.0732 31.9404)" fill="#1a1a1a"/>
            <rect x="3.48291" y="3" width="75" height="58" rx="5" stroke="#1a1a1a" stroke-width="6"/>
        </svg></a>
        <a target="_blank" href="https://www.instagram.com/maruljo/">
        <svg width="30" height="30" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="3" width="58" height="58" rx="13" stroke="#1a1a1a" stroke-width="6"/>
            <circle cx="32" cy="32" r="13" stroke="#1a1a1a" stroke-width="6"/>
            <circle cx="49" cy="15" r="2" stroke="#1a1a1a" stroke-width="2"/>
        </svg></a>
    </div>
</header>