<footer class="w-full bg-footer px-4 py-4 sm:py-6 sm:h-20 flex flex-col sm:flex-row items-center justify-between">
    <div class="flex items-center">
        <a routerLink="/">
            <svg width="36" height="36" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="23.27" height="132.457" transform="matrix(0.855977 0.517015 -0.483176 0.875523 86 0)" fill="#EDE6DC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M62.5263 37.3415L41.9186 0L22 12.0309L49.2472 61.4034L62.5263 37.3415ZM65.413 90.6961L86 128L105.919 115.969L78.6921 66.6342L65.413 90.6961Z" fill="#EDE6DC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M47.9585 63.7385L41.362 51.7853H0V75.8472H41.2761L47.9585 63.7385ZM80.2902 63.7385L86.9726 75.8472H128V51.7853H86.8867L80.2902 63.7385Z" fill="#EDE6DC"/>
            </svg>
        </a>
    </div>
    <div class="my-2 sm:my-0 sm:ml-auto sm:order-2 mr-4">
        <a href="mailto:marajov@mit.edu" class="opacity-70 hover:text-blue-600 transition-colors duration-75">
            <span class="text-white">marajov&#64;mit.edu</span>
        </a>
    </div>
    <div class="flex items-center gap-4 sm:order-3">
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
            <svg width="24" height="20" viewBox="0 0 162 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="98" height="8.16" rx="4.08" transform="matrix(0.825285 0.564716 -0.43794 0.899004 4.39453 6.69763)" fill="#EDE6DC"/>
                <rect width="98.352" height="8" rx="4" transform="matrix(0.825285 -0.564716 0.43794 0.899004 75.6748 62.1741)" fill="#EDE6DC"/>
                <rect x="4" y="4" width="154" height="120" rx="12" stroke="#EDE6DC" stroke-width="8"/>
            </svg>
        </a>
        <a target="_blank" href="https://www.instagram.com/maruljo/">
            <svg width="20" height="20" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="5" y="5" width="118" height="118" rx="27" stroke="#EDE6DC" stroke-width="10"/>
                <circle cx="64" cy="64" r="27" stroke="#EDE6DC" stroke-width="10"/>
                <circle cx="102" cy="26" r="4" stroke="#EDE6DC" stroke-width="4"/>
            </svg>
        </a>
    </div>
</footer>