<div class="font-sans w-full sm:w-[60vw] mx-auto p-4 sm:p-8 bg-white">
    <form class="w-full space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="name" class="block font-normal">Name</label>
            <input type="text" id="name" formControlName="name"
                class="w-full border-2 border-gray-400 p-2 transition-colors duration-200 focus:ring-0 focus:border-4 focus:border-black outline-none">
            @if (nameIsInvalid){
                <p>Please enter your name</p>
            }
        </div>
        <div>
            <label for="email" class="block font-normal">E-Mail</label>
            <input type="email" id="email" formControlName="email"
                class="w-full border-2 border-gray-400 p-2 transition-colors duration-200 focus:ring-0 focus:border-4 focus:border-black outline-none">
            @if (emailIsInvalid){
                <p>Please enter a valid email</p>
            }
        </div>
        <div>
            <label for="subject" class="block font-normal">Subject</label>
            <input type="text" id="subject" formControlName="subject"
                class="w-full border-2 border-gray-400 p-2 transition-colors duration-200 focus:ring-0 focus:border-4 focus:border-black outline-none">
            @if (subjectIsInvalid){
                <p>Please enter a subject</p>
            }
        </div>
        <div>
            <label for="content" class="block font-normal">Message</label>
            <textarea id="content" formControlName="content"
                class="w-full border-2 border-gray-400 p-2 h-32 transition-colors duration-200 focus:ring-0 focus:border-4 focus:border-black outline-none resize-none"></textarea>
            @if (messageIsInvalid){
                <p>Please enter your message</p>
            }
        </div>
        <button type="submit"
            class="w-full font-semibold bg-[#f5f4f4]  py-3 border-2 border-gray-400 hover:bg-[#242424] hover:text-white">
            Submit
        </button>
    </form>
    @if(loading){
        <svg width="30" height="30" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="animate-spin mt-1"
    > <rect 
        width="11.635" 
        height="66.2284" 
        transform="matrix(0.855977 0.517015 -0.483176 0.875523 43 0)" 
        fill="#1a1a1a"
      />
      <path 
        fillRule="evenodd" 
        clipRule="evenodd" 
        d="M31.2631 18.6707L20.9593 0L11 6.01547L24.6236 30.7017L31.2631 18.6707ZM32.7065 45.348L43 64L52.9593 57.9845L39.346 33.3171L32.7065 45.348Z" 
        fill="#1a1a1a"
      />
      <path 
        fillRule="evenodd" 
        clipRule="evenodd" 
        d="M23.9793 31.8692L20.681 25.8927H0V37.9236H20.638L23.9793 31.8692ZM40.1451 31.8692L43.4863 37.9236H64V25.8927H43.4434L40.1451 31.8692Z" 
        fill="#1a1a1a"
      />
    </svg>
    }
    <p>{{message}}</p>
</div>