
  <div class="w-full px-6">
    @if (projects.length === 0) {
      <div class="flex justify-center">
      <svg width="30" height="30" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="animate-spin"
    > <rect 
        width="11.635" 
        height="66.2284" 
        transform="matrix(0.855977 0.517015 -0.483176 0.875523 43 0)" 
        fill="#1a1a1a"
      />
      <path 
        fillRule="evenodd" 
        clipRule="evenodd" 
        d="M31.2631 18.6707L20.9593 0L11 6.01547L24.6236 30.7017L31.2631 18.6707ZM32.7065 45.348L43 64L52.9593 57.9845L39.346 33.3171L32.7065 45.348Z" 
        fill="#1a1a1a"
      />
      <path 
        fillRule="evenodd" 
        clipRule="evenodd" 
        d="M23.9793 31.8692L20.681 25.8927H0V37.9236H20.638L23.9793 31.8692ZM40.1451 31.8692L43.4863 37.9236H64V25.8927H43.4434L40.1451 31.8692Z" 
        fill="#1a1a1a"
      />
    </svg></div>
    }
    <div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-3 gap-x-6 gap-y-6 place-items-center">
      @for (project of projects; track project.id) {
        <app-project class="w-full" [project]="project"></app-project>
      }
    </div>
  </div>

